html, body, #desktop-container {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Showcard Gothic', monospace;
    text-align: center;
}

.container {
    align-items: center;
    justify-content: center;
    height: 100%;
}

body {
    background: #00738b;
    font-size: 18px;
    color: white;
}

a {
    text-align: center;
    color: #FFF;
    text-decoration: underline;
}

button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #8cdbe6 #000 #06c8e6;
    border-radius: 6px;
    background: linear-gradient(#8cdbe6, #06c8e6) #00d4ff;
    transition: 0.2s;
    margin-top: 10px;
    margin-bottom: 10px;
}
button:hover { background: linear-gradient(#8cdbe6, #00738b) #21b8d6; }
button:active { background: linear-gradient(#21b8d6, #8cdbe6) #00738b; }
