@import "__base.css";

.game {
  display: none;
}

.errors {
  display: none;
}

.endgame {
  display: none;
}

.controller {
  width: 90%;
  height: 300%;
  font-size: 300%;
}

.mobile {
  width: 90%;
  height: 300%;
  font-size: 300%;
}
