@import "__base.css";

#desktop-container {
    display: block;
}
#mobile-container {
    display: none;
}

.main {
    border-top: 19px solid black;
    background: #272d33;
}

h1 {
    font-family: 'NevisBold', monospace;
    font-size: 150px;
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-size: 40px;
}


@media screen and (max-width: 768px) {

    #desktop-container {
        display: none;
    }
    #mobile-container {
        display: block;
    }

    h1 {
        font-family: 'NevisBold', monospace;
        font-size: 30px;
        text-align: center;
        margin-top: 40px;
    }
}
